<div class="categorias-contenedor invisible">
  <div class="categorias-texto">
    <p class="titulo">Categorías Destacadas</p>
    <p class="parrafo">
      Ofrecemos una gran variedad de productos para todos los miembros de la familia. Desde
      informática <br> o de consumo electrónico, hasta línea blanca o marrón… <span>¡Conocé nuestras principales categorías!</span>
    </p>
  </div>
  <div class="glider-contain">
    <div class="glider">
      <a href="/listado/electronica-audio-video/televisores/">
        <div>
          <img src="https://iili.io/UsLcqg.jpg" alt="">
        </div>
        <p>Televisores</p>
      </a>
      <a href="/listado/electrodomesticos-aires-ac/lavado/">
        <div>
          <img src="https://iili.io/UsL5zP.jpg" alt="">
        </div>
        <p>Lavarropas</p>
      </a>
      <a href="/listado/celulares-telefonos/celulares-smartphones/">
        <div>
          <img src="https://iili.io/UsLYLF.jpg" alt="">
        </div>
        <p>Celulares</p>
      </a>
      <a href="/listado/electrodomesticos-aires-ac/refrigeracion/">
        <div>
          <img src="https://iili.io/UsL7X1.jpg" alt="">
        </div>
        <p>Refrigeración</p>
      </a>
      <a href="/listado/computacion/laptops-accesorios/">
        <div>
          <img src="https://iili.io/UsLl1a.jpg" alt="">
        </div>
        <p>Notebooks</p>
      </a>
    </div>

    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
  </div>
</div>

<div class="beneficios-contenedor invisible">
  <p class="titulo">Beneficios Dmaker</p>
  <div class="iconos-beneficios">
    <div class="icono">
      <img src="https://cdn-icons-png.flaticon.com/512/590/590503.png" alt="">
      <div class="icono-texto">
        <p>Los mejores precios</p>
        <a
          href="/_Discount_5-100#applied_filter_id%3Ddiscount%26applied_filter_name%3DDescuentos%26applied_filter_order%3D10%26applied_value_id%3D5-100%26applied_value_name%3DDesde+5%25+OFF%26applied_value_order%3D1%26applied_value_results%3D187%26is_custom%3Dfalse">Ver
          Promociones</a>
      </div>
    </div>
    <div class="icono">
      <img src="https://cdn-icons-png.flaticon.com/512/30/30905.png" alt="">
      <div class="icono-texto">
        <p>Atención Personalizada</p>
        <a target="_blank"
          href="https://api.whatsapp.com/send?phone=541164723155&text=%C2%A1Hola%21+Estoy+en+la+tienda+PideWeb+y+quiero+pedir+m%C3%A1s+informaci%C3%B3n.">Contáctanos</a>
      </div>
    </div>
    <div class="icono">
      <img src="https://cdn-icons-png.flaticon.com/512/7104/7104988.png" alt="">
      <div class="icono-texto">
        <p>Todas las formas de pago</p>
        <a href="/p/como-comprar">Ver más</a>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="promociones-contenedor invisible">
  <p class="titulo">Mejores Promociones</p>
  <div class="promociones-tarjetas">
    <div class="tarjeta">
      <a href="">
        <img src="https://iili.io/SrrjUB.png" alt="">
        <p>Notebooks desde $XXX</p>
      </a>
    </div>
    <div class="tarjeta">
      <a href="">
        <img src="https://iili.io/SrrjUB.png" alt="">
        <p>Notebooks desde $XXX</p>
      </a>
    </div>
    <div class="tarjeta">
      <a href="">
        <img src="https://iili.io/SrrjUB.png" alt="">
        <p>Notebooks desde $XXX</p>
      </a>
    </div>
  </div>
</div> --}}

<div class="newsletter-contenedor">
  <p>Recibí<br>Descuentos</p>
  <form action="">
    <input type="text" placeholder="Nombre">
    <input type="email" placeholder="Email">
    <button>Suscribir</button>
  </form>
</div>
<footer class="nav-tools-footer">
  <section class="nav-tools-footer__bound">
    <section class="nav-tools-footer__top">
      <div class="nav-tools-footer__info header--custom-text">
        <div class="nav-tools-footer__logo">
          {{#if logo}}
          <img src="{{logo}}" alt="{{name}}">
          {{else}}
          <span class="header--custom-text">
            {{name}}
          </span>
          {{/if}}
        </div>
        <div class="nav-tools-footer__contact">
          <div data-editable="contact">
            {{!-- {{#if showContact}}
            {{#if showPhone}}
            <a class="header--custom-text">{{phone.formatted}}</a>
            {{/if}}

            {{#if showEmail}}
            <a class="header--custom-text" href="mailto:{{email}}">{{email}}</a>
            {{/if}}

            {{#if address}}
            {{#with address}}
            <p>
              <span itemprop="streetAddress" class="header--custom-text">{{address}}</span>
              <span itemprop="addressLocality" class="header--custom-text">{{city}}</span>
              <span itemprop="addressRegion" class="header--custom-text">{{state}}</span>
            </p>
            {{/with}}
            {{/if}}
            {{/if}} --}}

            {{!-- <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quae dolore illo, deserunt
              necessitatibus fuga voluptate ut in exercitationem amet, hic officia
            </p>
            <br>
            <p>Todos los derechos reservados Copyright 2020</p> --}}
          </div>
          {{!-- <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
            {{#if showSocialNetworks}}
            {{#each socialNetworks}}
            <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
              {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
            </a>
            {{/each}}
            {{/if}}
          </div> --}}
        </div>
      </div>

      <div class="nav-tools-footer__categories header--custom-text header--custom-border">
        <span class="nav-tools-footer__category">
          <p>
            Nosotros
          </p>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/p/como-comprar">
            Ayuda
          </a>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/p/contacto">
            Contacto
          </a>
        </span>
      </div>

      <div class="nav-tools-footer__categories header--custom-text header--custom-border footer-categorias-desktop">
        <span class="nav-tools-footer__category">
          <p>
            Categorías
          </p>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/listado/electronica-audio-video/televisores/_DisplayType_G">
            Televisores
          </a>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/listado/electrodomesticos-aires-ac/lavado/_DisplayType_G">
            Lavarropas
          </a>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/listado/celulares-telefonos/celulares-smartphones/_DisplayType_G">
            Celulares
          </a>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/listado/electrodomesticos-aires-ac/refrigeracion/heladeras/_DisplayType_G">
            Heladeras
          </a>
        </span>
      </div>

      <div class="nav-tools-footer__categories header--custom-text header--custom-border footer-categorias-mobile">
        <span class="nav-tools-footer__category">
          <p>
            Categorías
          </p>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/listado/electronica-audio-video/televisores/">
            Televisores
          </a>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/listado/electrodomesticos-aires-ac/lavado/">
            Lavarropas
          </a>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/listado/celulares-telefonos/celulares-smartphones/">
            Celulares
          </a>
        </span>
        <span class="nav-tools-footer__category">
          <a href="/listado/electrodomesticos-aires-ac/refrigeracion/heladeras/">
            Heladeras
          </a>
        </span>
      </div>

      <div class="nav-tools-footer__categories header--custom-text header--custom-border">
        <span class="nav-tools-footer__category">
          <p>
            Contáctanos
          </p>
        </span>
        <span class="nav-tools-footer__category">
          <a class="" href="tel:1164723155" data-id="{{id}}">
            (11) 64723155
          </a>
        </span>
        <span class="nav-tools-footer__category">
          <a class="" href="mailto:ventas@dmaker.com" data-id="{{id}}">
            ventas@dmaker.com
          </a>
        </span>
        <span class="nav-tools-footer__category">
          <a target="_blank" class="" href="https://goo.gl/maps/6F8ekU89uQifxRqg6" data-id="{{id}}">
            Manuel García 352<br>Parque Patricios. Capital Federal
          </a>
        </span>
        <div class="redes-sociales-contenedor">
          <span class="nav-tools-footer__category">
            <p class="redes-sociales-titulo">
              Síguenos
            </p>
            <div class="redes-sociales-iconos">
              <a href="https://www.facebook.com/profile.php?id=100085331288073" target="_blank" class="facebook"><img
                  src="https://cdn-icons-png.flaticon.com/512/20/20837.png" alt=""></a>
              <a href="https://twitter.com/dmakerok" target="_blank" class="twitter"><img
                  src="https://cdn-icons-png.flaticon.com/512/733/733635.png" alt=""></a>
              <a href="https://www.instagram.com/dmakerarg/" target="_blank" class="instagram"><img
                  src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png" alt=""></a>
            </div>
          </span>
        </div>
      </div>

      {{!-- <div class="nav-tools-footer__pages header--custom-text header--custom-border">
        <span class="nav-tools-footer__page">
          <a href="{{linkToHowBuy.href}}" class="header--custom-text">{{linkToHowBuy.label}}</a>
        </span>
      </div> --}}

      <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
        {{#if showSocialNetworks}}
        {{#each socialNetworks}}
        <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
          {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
        </a>
        {{/each}}
        {{/if}}
      </div>
    </section>
    <section class="nav-tools-footer__bottom header--custom-border header--custom-text">
      <div>
        <div class="nav-footer-about">
          <a href="{{{linkToMShopsLandingPage}}}" target="_blank" class="header--custom-text">{{i18n.powered_by}}</a>
          <p class="header--custom-text">Developed by GALARRETA®</p>
          {{#if linkToLegalNotices}}
          <a href="{{linkToLegalNotices.href}}" class="header--custom-text">{{linkToLegalNotices.label}}</a>
          {{/if}}
          {{#if linkToLGPD}}
          <a href="{{linkToLGPD.href}}" class="header--custom-text">{{linkToLGPD.label}}</a>
          {{/if}}
        </div>

        {{#if showBusinessData}}
        {{#with fiscalData}}
        <div class="nav-footer-fiscal-data">
          <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
          <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
        </div>
        {{/with}}
        {{/if}}
      </div>
      {{#if showQrData}}
      {{#with fiscalData}}
      <a href={{qr_link}} target="_F960AFIPInfo">
        <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
      </a>
      {{/with}}
      {{/if}}
    </section>
  </section>
</footer>